header {
    background-color: #F55050;
    color: white;
    text-align: center;
  }
  header h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
  }


  .recipe{
    text-align: center;
    padding: 10px;
  }

  
  .list {
      list-style: none;
      padding: 0 15px 5px;
    }
    
  .modal-header{
      justify-content: center;
      color: #F55050;
    }

  .modal-body{
    padding: 0;
  }

  .modal-footer{
    padding: 0 10px 10px;
  }